body{
	font-family: arial, sans-serif;
	background-color: #f9eadb;
}

#firstPageNav{
	background-color:#565192;
	height: 70px;
	width: 100%;
}


#logo{
	height: 100%;
	display: inline-block;
	position: relative;
	left: 0.5%;
	float: left;
}


#link1{
	text-decoration: none;
	background-color: #d5621f;
	color: black;
	font-size: 200%;
	display: inline-block;
	margin-top: 10.5px;
	margin-right: 10%;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5%;
}

#link2{
	text-decoration: none;
	background-color: #d5621f;
	color: black;
	font-size: 200%;
	display: inline-block;
	margin-top: 10.5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5%;
}

#link3{
	text-decoration: none;
	background-color: #d5621f;
	color: black;
	font-size: 200%;
	margin-left: 10%;
	display: inline-block;
	margin-top: 10.5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5%;
}

h1{
	color: #565192;
	text-align: center;
	font-size: 300%;
}


p{
	padding-right: 10%;
	padding-left: 10%;
	font-size: 120%;
	text-align: justify;
	line-height: 140%;
}

footer{
	background-color:#565192;
	height: 70px;
	width: 100%;
	margin-top: 5%;
}

h3{
	padding-top: 2%;
	font-size: 100%;
}

@media only screen and (max-width: 700px){
	#link1{
		text-decoration: none;
		background-color: #d5621f;
		color: black;
		font-size: 120%;
		display: inline-block;
		margin-top: 19px;
		margin-right: 8%;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 4px;
		padding-right: 4px;
		border-radius: 5%;
	}

	#link2{
		text-decoration: none;
		background-color: #d5621f;
		color: black;
		font-size: 120%;
		display: inline-block;
		margin-top: 19px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 4px;
		padding-right: 4px;
		border-radius: 5%;
	}

	#link3{
		text-decoration: none;
		background-color: #d5621f;
		color: black;
		font-size: 120%;
		margin-left: 8%;
		display: inline-block;
		margin-top: 19px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 4px;
		padding-right: 4px;
		border-radius: 5%;
	}
}