body{
	font-family: arial, sans-serif;
	background-color: #f9eadb;
}

#firstPageNav{
	background-color:#565192;
	height: 70px;
	width: 100%;
}


#logo{
	height: 100%;
	display: inline-block;
	position: relative;
	left: 0.5%;
	float: left;
}


#link1{
	text-decoration: none;
	background-color: #d5621f;
	color: black;
	font-size: 200%;
	margin-right: 10%;
	margin-top: 15px;
	display: inline-block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

#link2{
	text-decoration: none;
	background-color: #d5621f;
	color: black;
	font-size: 200%;
	display: inline-block;
	margin-top: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

#link3{
	text-decoration: none;
	background-color: #d5621f;
	color: black;
	font-size: 200%;
	margin-left: 10%;
	display: inline-block;
	margin-top: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}